.BC-Light-Grey {
  background-color: #F8F8F8;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 15px;
}

h1 {
  font-family: Shrikhand;
}

body {
  font-family: Roboto;
}

.Logo {
  margin-top: 25px;
  margin-bottom: 15px;
}
.Logo img {
  width: 150px;
}

.Top-border {
  height: 5px;
  background-image: linear-gradient(#D8D8D8, #F0F0F0);
}

.Localisation {
  background-color: #F0F0F0;
}
.Localisation i {
  margin-right: 25px;
}

.Description {
  background-color: #F8F8F8;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
.Description h2 {
  width: 70%;
  display: flex;
  justify-content: center;
}
.Description p {
  margin-top: -5px;
  width: 80%;
}

.Explore-button {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #F8F8F8;
  width: 200px;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 4px 4px lightgray;
}

.Section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Section-two h2 {
  width: 60%;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 40px 0 0 20px;
}

.Box-border {
  box-shadow: 0 0 20px 2px rgba(211, 211, 211, 0.83);
  border-radius: 20px;
  box-sizing: content-box;
  width: 90%;
  background-color: #F5F5F5;
  justify-content: flex-start;
  gap: 30px;
}
.Box-border i {
  color: gray;
}
.Box-border:hover {
  background-color: #E6E6FA;
}
.Box-border:hover i {
  color: #9356DC;
}

.Circle {
  border: 2px solid #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  background-color: #9356DC;
  color: white;
}

.Section-three {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.Section-three h2 {
  align-self: flex-start;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 40px;
}

.Thumbnails {
  width: 90%;
  height: 250px;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  border-radius: 20px;
}
.Thumbnails img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.Thumbnails i {
  display: flex;
  align-items: flex-end;
}
.Thumbnails .Under-picture {
  margin-top: -10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  transition: all 0.3s linear 0s;
}
.Thumbnails .Under-picture p {
  margin-top: -15px;
}
.Thumbnails .Under-picture i:hover {
  font-weight: 900;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Foot {
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 40px;
  background-color: #282828;
}
.Foot p {
  margin: 0;
  gap: 10px;
}
.Foot h1, .Foot p, .Foot i {
  color: white;
}

.Line-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.Line-icon i {
  font-size: 10px;
}

.Patch-align i {
  font-size: 7px;
}

.Paragraph p {
  margin-bottom: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
