
    
$Primary: #9356DC

$Secondary: #FF79DA

$Tertiary: #99E2D0

$Violet-button: linear-gradient(to bottom right, $Secondary, $Primary)

$Box-shadow: 0 0 20px 2px rgba(211, 211, 211, 0.83)

$Hover: #E6E6FA

.BC-Light-Grey
    background-color: #F8F8F8



.Center
    display: flex
    justify-content: center
    align-items: center

h1
    font-size: 15px

h1
    font-family: Shrikhand

body
    font-family: Roboto

.Logo
    margin-top: 25px
    margin-bottom: 15px
    
    img
        width: 150px

.Top-border
    height: 5px
    background-image: linear-gradient(#D8D8D8, #F0F0F0)
    
.Localisation
    background-color: #F0F0F0
    
    i
        margin-right: 25px

.Description
    background-color: #F8F8F8
    flex-direction: column
    display: flex
    justify-content: center
    text-align: center
    
    h2
        width: 70%
        display: flex
        justify-content: center
    
    p
        margin-top: -5px
        width: 80%

.Explore-button
    margin-top: 10px
    margin-bottom: 50px
    background-color: #F8F8F8
    width: 200px
    height: 50px
    border-radius: 30px 30px 30px 30px
    border: none
    background-image: $Violet-button
    color: white
    box-shadow: 0px 4px 4px lightgray

.Section-two
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    gap: 20px

    h2
        width: 60%
        justify-self: flex-start
        align-self: flex-start
        margin: 40px 0 0 20px

.Box-border
    box-shadow: $Box-shadow
    border-radius: 20px
    box-sizing: content-box
    width: 90%
    background-color: #F5F5F5
    justify-content: flex-start
    gap: 30px
    
    i
        color: gray

    &:hover
        background-color: $Hover
        i
            color: $Primary

.Circle
    border: 2px solid $Primary
    height: 20px
    width: 20px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    margin-left: -12px
    background-color: $Primary
    color: white

.Section-three
    margin-top: 50px
    display: flex
    justify-content: flex-start
    flex-direction: column
    gap: 20px

    h2
        align-self: flex-start
        margin-bottom: 0
        margin-left: 20px
        margin-top: 40px

.Thumbnails
    width: 90%
    height: 250px
    flex-direction: column
    background-color: white
    align-items: flex-start
    border-radius: 20px
    
    img
        height: 70%
        width: 100%
        object-fit: cover
        border-radius: 15px 15px 0 0
    
    i
        display: flex
        align-items: flex-end
    
    .Under-picture
        margin-top: -10px
        width: 90%
        display: flex
        justify-content: space-between
        align-items: center
        margin-left: 10px
        transition: all 0.3s linear 0s

        p
            margin-top: -15px

        i
            &:hover
                font-weight: 900
                background: -webkit-linear-gradient($Primary, $Secondary)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                

.Foot
    height: 200px
    padding-left: 20px
    padding-top: 20px
    margin-top: 40px
    background-color: #282828
    p
        margin: 0
        gap: 10px
    
    h1, p, i
        color: white


.Line-icon
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 10px
    margin-bottom: 10px
    i
        font-size: 10px

.Patch-align
    i
        font-size: 7px

.Paragraph
    p
        margin-bottom: 10px
        color: white