@-webkit-keyframes Spin {
  from {
    width: 0px;
    opacity: 1;
    rotate: 0;
    background-color: transparent;
  }
  to {
    opacity: 1;
    rotate: 360deg;
    width: 70px;
    background-color: #99E2D0;
  }
}

@keyframes Spin {
  from {
    width: 0px;
    opacity: 1;
    rotate: 0;
    background-color: transparent;
  }
  to {
    opacity: 1;
    rotate: 360deg;
    width: 70px;
    background-color: #99E2D0;
  }
}

@-webkit-keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Delay-1, .Delay-2, .Delay-3, .Delay-4, .Delay-5, .Delay-6, .Delay-7, .Delay-8, .Delay-9 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: Apparition;
          animation-name: Apparition;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Delay-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.Delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.Delay-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.Delay-4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.Delay-5 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.Delay-6 {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.Delay-7 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.Delay-8 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.Delay-9 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.BC-Light-Grey {
  background-color: #F8F8F8;
}

.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 15px;
}

h1 {
  font-family: Shrikhand;
  font-size: 175%;
}

body {
  font-family: Roboto;
}

.Logo {
  margin-top: 25px;
  margin-bottom: 15px;
}

.Logo img {
  width: 150px;
}

.Top-border {
  height: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#F0F0F0));
  background-image: linear-gradient(#D8D8D8, #F0F0F0);
}

.Localisation {
  background-color: #F0F0F0;
}

.Localisation i {
  margin-right: 25px;
}

.Description {
  background-color: #F8F8F8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.Description h2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Description p {
  margin-top: -5px;
  width: 80%;
}

.Explore-button {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #F8F8F8;
  width: 200px;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  -webkit-box-shadow: 0px 4px 4px lightgray;
          box-shadow: 0px 4px 4px lightgray;
  scale: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Explore-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.Section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Section-two h2 {
  width: 60%;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 40px 0 0 20px;
}

.Box-border {
  -webkit-box-shadow: 0 0 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0 0 20px 2px rgba(211, 211, 211, 0.83);
  border-radius: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 90%;
  background-color: #F5F5F5;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.Box-border i {
  color: gray;
}

.Box-border:hover {
  cursor: pointer;
  background-color: #E6E6FA;
}

.Box-border:hover i {
  color: #9356DC;
}

.Circle {
  border: 2px solid #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
  background-color: #9356DC;
  color: white;
}

.Section-three {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.Section-three h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 40px;
}

.Section-three a {
  text-decoration: none;
  color: black;
}

.Thumbnails {
  width: 90%;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
}

.Thumbnails img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.Thumbnails .Under-picture {
  margin-top: -10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.Thumbnails .Under-picture p {
  margin-top: -15px;
}

.Thumbnails .Under-picture i {
  position: absolute;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.Thumbnails .Under-picture i:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Thumbnails .Under-picture .Heart:hover .Heart-1 {
  opacity: 0;
}

.Thumbnails .Under-picture .Heart:hover .Heart-2 {
  opacity: 1;
}

.Thumbnails .Under-picture .Heart-2 {
  opacity: 0;
  color: transparent;
}

.Foot {
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #282828;
}

.Foot p {
  margin: 0;
  gap: 10px;
}

.Foot h1, .Foot p, .Foot i, .Foot a {
  color: white;
  text-decoration: none;
}

.Line-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.Line-icon i {
  font-size: 10px;
}

.Patch-align i {
  font-size: 7px;
}

.Paragraph p {
  margin-bottom: 10px;
  color: white;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Logo-1 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Logo-1 a {
  color: black;
  padding-left: 10%;
}

.Container {
  position: relative;
  z-index: -1;
}

.Container img {
  height: 200px;
  /*object-fit: cover */
  width: 100%;
}

.Menu {
  background-color: #F0F0F0;
  z-index: 0;
}

.Menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 35px 35px 0 0;
  background-color: #F0F0F0;
  z-index: 0;
  width: 100%;
  margin-top: -50px;
}

.Menu-title i {
  position: absolute;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  margin-left: -10%;
}

.Menu-title i:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.Menu-title .Heart:hover .Heart-1 {
  opacity: 0;
}

.Menu-title .Heart:hover .Heart-2 {
  opacity: 1;
}

.Menu-title .Heart .Heart-2 {
  opacity: 0;
  color: transparent;
}

.Menu-title h1 {
  padding-left: 35px;
  margin-bottom: 0;
}

.Menu-list {
  padding-left: 10px;
  padding-top: 15px;
}

.Menu-list .Meal-type {
  padding-left: 10px;
}

.Underline {
  height: 2px;
  width: 40px;
  margin-top: -10px;
  margin-left: 10px;
  background-color: #99E2D0;
  margin-bottom: 15px;
}

.Menu-thumbnails {
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
  height: 70px;
  padding-left: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  opacity: 0;
}

.Menu-thumbnails h3 {
  font-size: 1.1rem;
  margin: 0rem;
  padding-top: 1rem;
}

.Menu-thumbnails p {
  font-size: 0.9rem;
  width: 80%;
  margin-top: 0.5rem;
  padding-right: 6%;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 20px;
}

.Menu-thumbnails div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Menu-thumbnails div span {
  padding-right: 10px;
  padding-top: 7px;
}

.Menu-thumbnails div .Anim-check {
  color: white;
  margin-top: -37px;
  border-radius: 0 20px 20px 0;
  display: block;
  text-align: center;
}

.Menu-thumbnails div .Anim-check i {
  opacity: 0;
  margin-top: 27px;
}

.Menu-thumbnails:hover {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.Menu-thumbnails:hover .Anim-check {
  -webkit-animation-name: Spin;
          animation-name: Spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Menu-thumbnails:hover .Anim-check i {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

.Command-button {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #F8F8F8;
  width: 200px;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  -webkit-box-shadow: 0px 4px 4px lightgray;
          box-shadow: 0px 4px 4px lightgray;
  scale: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Command-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */